#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#list {
  background-color: white;
  position: absolute;
  width: 600px;
  height: 500px;
  right: .5em;
  bottom: .5em;
  overflow: overlay;
  .title {
    position: fixed;
    width: 412px;
    background-color: white;
    padding: 15px;
    margin: 0;
  }
}

#nav-menu {
  position: absolute;
  width: 460px;
  height: 200px;
  right: 75px;
  top: 0.5em;
}

#filtering {
  position: absolute;
  top: 0;
  left: 100px;
}

#density-filter-value {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}
