<map-view></map-view>
<filtering id="filtering" (applyFilter)="filterPlacemarks($event)"></filtering>
<map-arrow id="popup-container" [placemark]="popupPlacemark"></map-arrow>
<div id="nav-menu">
  <button
    mat-raised-button
    (click)="resetDrillClick()"
    [disabled]="!selectedCountyPlacemark"
  >
    Latvija
  </button>

  <button
    mat-raised-button
    (click)="resetCountyClick()"
    *ngIf="!!selectedCountyPlacemark"
    [disabled]="!selectedParishPlacemark"
  >
    {{ selectedCountyPlacemark.countyName }}
  </button>

  <button
    mat-raised-button
    (click)="resetCountyClick()"
    *ngIf="!!selectedParishPlacemark"
    [disabled]="true"
  >
    {{ selectedParishPlacemark.parishName }}
  </button>

  <selected-placemark-summary
    [placemark]="selectedParishPlacemark || selectedCountyPlacemark"
  >
  </selected-placemark-summary>
</div>
<div id="list">
  <div class="title">
    Elementu saraksts
  </div>

  <list-view
    [placemarkList]="placemarkList"
    [showParish]="!!selectedCountyPlacemark || filter.isKmView"
    [showSector]="!!selectedParishPlacemark || filter.isKmView"
  ></list-view>
</div>

<mat-button-toggle-group
  class="density-filter-value"
  id="density-filter-value"
  aria-label="Font Style"
  (change)="setView($event.value)"
>
  <mat-button-toggle value="true">Km sektori</mat-button-toggle>
  <mat-button-toggle value="false">Drill</mat-button-toggle>
</mat-button-toggle-group>
