.placemark-card {
  max-width: 250px;
  .mat-card-content {
    min-height: 50px;
    .level-header {
      font-weight: bold;
    }
    .level-info {
      list-style: none;
      .level-1 {
        max-width: 40px;
        float: right;
        right: 15px;
        background: blue;
        color: white;
      }
      .level-2 {
        max-width: 40px;
        float: right;
        right: 15px;
        background: yellow;
        color: black;
      }
      .level-3 {
        max-width: 40px;
        float: right;
        right: 15px;
        background: green;
        color: white;
      }
    }
  }
}
