<div *ngIf="placemark">
  <mat-card class="placemark-card">
    <mat-card-header>
      <mat-card-subtitle *ngIf="placemark.countyName"
        >Novads: {{ placemark.countyName }}</mat-card-subtitle
      >
      <mat-card-subtitle *ngIf="placemark.parishName"
        >Pagasts: {{ placemark.parishName }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="placemark.populationTotalAmount">
        Populācija: {{ placemark.populationTotalAmount }}
      </div>
      <div *ngIf="placemark.clientAmount">
        Klientu skaits: {{ placemark.clientAmount }}
      </div>
      <div *ngIf="placemark.potentialClientAmount">
        Potenciālu klientu skaits: {{ placemark.potentialClientAmount }}
      </div>
      <div *ngIf="placemark.elderlyDensity">
        <hr />
        <div class="level-header">Cilvēku sadalījuma līmeņi</div>
        <div class="level-info">
          Vecāka gadagājuma:
          <div [ngClass]="'level-' + placemark.elderlyDensity">
            {{ getDensityName(placemark.elderlyDensity) }}
          </div>
        </div>
        <div class="level-info">
          Strādājoši:
          <div [ngClass]="'level-' + placemark.workAgeDensity">
            {{ getDensityName(placemark.workAgeDensity) }}
          </div>
        </div>
        <div class="level-info">
          Bērni:
          <div [ngClass]="'level-' + placemark.kidDensity">
            {{ getDensityName(placemark.kidDensity) }}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
