<div class="filter-container">
  <div *ngIf="visible" [@slideInOut]>
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
      <div class="density-filter-container mat-elevation-z1">
        <div>
          <span class="title"> Bērnu</span>
        </div>
        <mat-button-toggle-group
          name="density-filter-value"
          aria-label="Font Style"
          [vertical]="true"
          [multiple]="true"
          [value]="kidDensity"
          (change)="kidDensity = $event.value"
        >
          <mat-button-toggle value="1">Zems</mat-button-toggle>
          <mat-button-toggle value="2">Vidējs</mat-button-toggle>
          <mat-button-toggle value="3">Augsts</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="density-filter-container mat-elevation-z1">
        <div>
          <span class="title">Strādājoši</span>
        </div>
        <mat-button-toggle-group
          name="density-filter-value"
          aria-label="Font Style"
          [vertical]="true"
          [multiple]="true"
          [value]="workAgeDensity"
          (change)="workAgeDensity = $event.value"
        >
          <mat-button-toggle value="1">Zems</mat-button-toggle>
          <mat-button-toggle value="2">Vidējs</mat-button-toggle>
          <mat-button-toggle value="3">Augsts</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="density-filter-container mat-elevation-z1">
        <div>
          <span class="title">Vecu cilvēku</span>
        </div>
        <mat-button-toggle-group
          name="density-filter-value"
          aria-label="Font Style"
          [vertical]="true"
          [multiple]="true"
          [value]="elderlyDensity"
          (change)="elderlyDensity = $event.value"
        >
          <mat-button-toggle value="1">Zems</mat-button-toggle>
          <mat-button-toggle value="2">Vidējs</mat-button-toggle>
          <mat-button-toggle value="3">Augsts</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="slider">
      <div>
        <span class="title"> Caurlaidība</span>
      </div>
      <div>
        <div>
          No:
          <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            [value]="penetrationFrom"
            tickInterval="1"
            min="0"
            max="100"
            (change)="penetrationFrom =$event.value "
          ></mat-slider>
        </div>
        <div>
          Līdz:
          <mat-slider
            thumbLabel
            [value]="penetrationTill"
            [displayWith]="formatLabel"
            tickInterval="1"
            min="0"
            max="100"
            (change)="penetrationTill =$event.value "
          ></mat-slider>
        </div>
      </div>
    </div>
    <hr />
    <div fxFlexAlign="end">
      <button mat-raised-button (click)="resetFilterClick()">Nodzēst</button>
      <button mat-raised-button (click)="applyFilterClick()">Atlasīt</button>
    </div>
    <hr />
  </div>
  <div>
    <a class="expand-button" (click)="expandToggleClick()">
      <div class="text">Blīvuma filtri</div>
      <div class="icon">
        <mat-icon *ngIf="!visible">expand_more</mat-icon>
        <mat-icon *ngIf="visible">expand_less</mat-icon>
      </div>
    </a>
  </div>
</div>
