.filter-container {
  background-color: white;
  padding: 10px;
  width: 400px;
  min-height: 20px;
  .density-filter-container {
    padding: 10px;
    text-align: center;
    .title {
      font-weight: bold;
    }
  }

  .slider {
    padding-top: 15px;
  }

  .expand-button {
    display: block;
    width: 100%;
    height: 15px;
    padding: 10px 0;
    cursor: pointer;
    .text {
      float: left;
    }
    .icon {
      float: right;
    }
  }
}
