<table
  mat-table
  [dataSource]="placemarkList"
  multiTemplateDataRows
  class="mat-elevation-z1"
>
  <ng-container matColumnDef="countyName">
    <th mat-header-cell *matHeaderCellDef>Novads</th>
    <td mat-cell *matCellDef="let placemark">{{ placemark.countyName }}</td>
  </ng-container>
  <ng-container matColumnDef="population">
    <th mat-header-cell *matHeaderCellDef>Iedzīvotāji</th>
    <td mat-cell *matCellDef="let placemark">
      {{ placemark.populationTotalAmount }}
    </td>
  </ng-container>
  <ng-container matColumnDef="parishName">
    <th mat-header-cell *matHeaderCellDef>Ciems</th>
    <td mat-cell *matCellDef="let placemark">{{ placemark.parishName }}</td>
  </ng-container>
  <ng-container matColumnDef="sectorId">
    <th mat-header-cell *matHeaderCellDef>Sektora Id</th>
    <td mat-cell *matCellDef="let placemark">{{ placemark.sectorId }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let placemark; columns: columnsToDisplay"
    class="selected-placemark-row"
  ></tr>
</table>
