.arrow_box {
  position: relative;
  :after,
  :before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  :after {
    border-color: rgba(237, 194, 51, 0);
    border-top-color: rgba(0, 0, 128, 0.05);
    border-width: 30px;
    margin-left: -30px;
  }
  :before {
    border-color: rgba(17, 17, 17, 0);
    border-top-color: rgba(0, 0, 128, 0.05);
    border-width: 36px;
    margin-left: -36px;
  }
}
