#map{
    width: 100%;
    height: 100%;
  ::ng-deep {
        .ol-viewport{
            .ol-unselectable.ol-layers:first-child{
                .ol-layer:first-child{
                        -webkit-filter: grayscale(90%) brightness(110%);
                        filter: grayscale(90%) brightness(110%);
                }
            }
        }
    }
}
